* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.png);
    font-family: Arial, sans-serif; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.card {
    background-color: black;
    text-align: center;
    border: 3px solid  rgb(245, 164, 14);
    max-width: 90%;
    width: 500px; 
    padding: 20px;
    border-radius: 70px;
    box-shadow: 0 0 100px 0px black;
    cursor: pointer;
}

button {
    background-color: rgb(245, 164, 14);
    margin: 5px;
    font-size: 20px;
    padding: 15px 20px; 
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    width: 80px;
    height: 60px; 
    cursor: pointer;
   transition: 0.1s;
}
button:active{
    box-shadow:  grey 2px 2px 4px;
    color:  rgb(245, 164, 14);
    background-color: rgb(14, 13, 13);
    
}
sup{
    font-size: 12px;
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.row-1 button {
    padding: 15px 20px;
    color: black;
    background-color:  rgb(245, 164, 14);
    border-radius: 10px;
    font-weight: bolder;
}
.row-1 .cal{
    width: 200px; 
    background-color: rgb(143, 140, 140);
    height: 60px;
}
.row-1 .cal:active{

    background-color: rgb(22, 22, 22);
    box-shadow: grey 2px 2px 4px;
}
.row-1 button:active{
    color:  rgb(245, 164, 14);
    background-color: black;
    box-shadow: grey 2px 2px 4px;
}

.row-last .enter {
    padding: 10px 5px;
    font-size: 25px;
    width: 100px;
    background-color: rgb(143, 140, 140);
    border-radius: 10px;
    text-align: center;
}
.row-last .enter:active{
    color: grey;
    background-color: rgb(22, 22, 22);
    box-shadow: grey 2px 2px 4px;
}
#screen {
    width: 95%;
    height: 100px;
    margin: 20px 10px;
    background-color: rgb(27, 24, 24);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

.black {
    background-color: rgb(27, 24, 24);
    color: white;
    border-radius: 15px;
}
.black:active{
    opacity: 0.5;
    box-shadow: rgb(252, 252, 252) 2px 2px 4px;
    background-color:white ;
    color: rgb(27, 24, 24);
}
#screen:active{
    width: 95%;
    height: 100px;
    margin: 20px 0;
    background-color: rgb(27, 24, 24);
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .card {
        width: 90%;
    }
    
    button {
        width: 60px;
        height: 40px;
        font-size: 16px;
        padding: 10px;
    }
    
    #screen {
        height: 80px;
        border-radius: 10px;
        font-size: 18px;
        padding: 5px;
    }
}
button:hover{
    opacity: 0.8;
}
button:active{
    opacity: 0.5;
}
 .footer{
    background-color: black;
    color:rgb(27, 24, 24);
    margin-top:0px;
    font-size: 40px;
    text-align: center;
}
.footer strong{
    color: rgb(245, 164, 14);
}
.footer a{
    text-decoration: none;
    color:rgb(27, 24, 24);
}
}
